<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% d = Time.now%>
        <p><%=d.strftime("The date is %A, %B %d, %Y.")%></p>
    </body>
    
</html>